nav {
    margin-left: 0 !important;
    font-family:'Nunito Sans', "Helvetica Neue", Arial, sans-serif;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;    
    background-color: rgb(10, 24, 97);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.header-main {
    height: 70px;
    .navbar-nav{
        i.bi{
            margin-left: 36px !important;
            color: white !important;
        }
        img{
            padding-left: 15px;
        }
    }
}

.header-text {
    /*font-family:'Nunito Sans', "Helvetica Neue", Arial, sans-serif;*/
    font-family: Roboto, sans-serif;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: white;
    padding-right: 20px;
}

.header-title {
    display: flex; 
    justify-content: flex-end;
    font-family:'Nunito Sans', "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;    
    line-height: 24px;
    letter-spacing: 0.4px;    
    font-weight: 400;
}

@media (max-width: 900px) {
    .burger {
        left: 250px;
        position: absolute;
        padding: 10px;
        background-color: rgb(10, 24, 97);
        transition: all 300ms;
        color: white;
        border-radius: 0 5px 5px 0;
    }

    .burger.collapsed {
        left: 0 !important;
        position: absolute;
        padding: 10px;
        background-color: rgb(10, 24, 97);
        transition: all 300ms;
        color: white;
        border-radius: 0 5px 5px 0;
    }
}